[Desktop Entry]
Type=Application
Name=Lock screen
Exec=swaylock --image ~/lock-screen.jpg --clock --indicator --indicator-radius 75 --indicator-thickness 7 --ring-color 292D3E --line-color 2B2A3E --key-hl-color 414863 --inside-color 717CB470 --text-color FFFFFF
Icon=lock-screen
Terminal=false
Categories=System;
